sm plugins unload_all
sm plugins load_unlock
// pugsetup plugin activation
sm plugins load pugsetup.smx
sm plugins load_lock
hostname \"CS2 Server Elektrixx {{ electrixx_version }}\"
rcon_password \"{{ cs2_rcon_password }}\"
mp_autoteambalance 0
bot_kick 1
tv_enable 1
tv_delay 120
tv_autorecord 1 // wird im cs2 ordner unter <name der karte>.dem abgelegt
# den Rest löschen
