
host elektrixx-gateway {
  hardware ethernet {{ ansible_facts[GATEWAY_INTERFACE]['macaddress'] }};
  fixed-address {{ GATEWAY_IP }};
  server-name "gateway.elektrixx.lan";
}

host elektrixx-server {
  hardware ethernet {{ ansible_facts[INTERNAL_INTERFACE]['macaddress'] }};
  fixed-address {{ INTERNAL_IP }};
  server-name "server.elektrixx.lan";
}
{% for host in dhcpd_hosts %}
host {{ host.server_name }} {
  hardware ethernet {{ host.hardware_ethernet }};
  fixed-address {{ host.fixed_address }};
  server-name "{{ host.server_name }}";
}
{% endfor %}
