{% for dynamicEndpoint in cjdns_dynamicEndpoints %}
[{{ dynamicEndpoint.pubKey }}]
hostname: {{dynamicEndpoint.hostname }}
port: {{dynamicEndpoint.port }}
password: {{dynamicEndpoint.password }}

{% endfor %}
